.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-top: 10px;
}
.image-container {
  width: 100%;
  padding-bottom: 20px;
}
.no-image {
  color: #ba1a1a;
  margin: 8px 0 0 10px;
}
.file-name {
  padding-left: 20px;
}
.form-field-container {
  display: flex;
  gap: 10px;
  padding-bottom: 25px;
}
.contains-offer {
  padding-bottom: 20px;
}
.button-container {
  display: flex;
  justify-content: end;
}
