.home-container {
  background: transparent;
  max-width: 85%;
  margin: 1rem auto 3rem auto;
  padding-bottom: 3rem;
}

.title {
  color: white;
  text-align: center;
  //padding-bottom: 10px;
}

.home-card {
  padding: 0 0 1rem;
}
