.checkout-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 15px;
  row-gap: 15px;
}

.shopping-cart-container {
  border-left: 1px solid rgb(152, 152, 152);
  padding-left: 15px;
}
