.checkout-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.available-products-container {
  width: 65%;
  //border: 1px solid black;
}

.shopping-cart-container {
  width: 35%;
  border-left: 1px solid rgb(152, 152, 152);
  padding-left: 15px;
}

.table-container {
  overflow: auto;
  max-height: 400px;
}

table {
  width: 100%;
  border-bottom: 1px solid black;
}

.total-container {
  margin-top: 15px;
  border-top: 1px solid rgb(152, 152, 152);
  text-align: center;
}
