<div class="header-container">
  <h2>Available Items</h2>
  <div class="input-container">
    <mat-form-field class="search-field" appearance="outline" color="accent">
      <mat-label>Search Product</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue" />
      @if (searchValue) {
      <button matSuffix matIconButton aria-label="Clear" (click)="searchValue = ''">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
</div>
<div class="product-card-container">
  @if (productList$ | async; as productList) { @if (!productList.length) {
  <h3 class="no-products">No products available</h3>
  } @else { @for (product of productList; track $index) {
  <app-product-card [context]="context" [product]="product"></app-product-card>
  } } }
</div>
