.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container {
  background: transparent;
  max-width: 85%;
  margin: 1rem auto 3rem auto;
  padding-bottom: 3rem;
}

.title {
  color: white;
  text-align: center;
  width: 90%;
}

.home-card {
  padding: 0 0 1rem;
  min-height: 600px;
}
