<mat-card class="product-card">
  @if (cardImage) {
  <div class="image-container">
    <img [src]="cardImage" alt="product image" mat-card-md-image />
    @if (tabContext === tabContextEnum.ProductsManagment) {
    <button
      mat-icon-button
      color="warn"
      (click)="openDeleteDialog()"
      matTooltip="Delete product"
      class="delete-button"
    >
      <mat-icon>delete</mat-icon>
    </button>
    }
  </div>
  }

  <mat-card-content>
    <div class="row">
      <h3 class="title">
        {{ product.name }}
      </h3>

      @if(tabContext === tabContextEnum.Checkout) {
      <button mat-icon-button (click)="addToCart()" matTooltip="Add to cart">
        <mat-icon>add</mat-icon>
      </button>
      } @else {
      <button mat-icon-button color="primary" (click)="selectedProductToEdit(product)">
        <mat-icon>edit</mat-icon>
      </button>
      }
    </div>
    <p class="subtitle">
      Unit Price: <b>{{ product.unitPrice | currency : 'EUR' }}</b>
    </p>

    @if (product.offerAmount) {
    <div class="offer">
      Get {{ product.offerAmount }} for {{ product.offerPrice | currency : 'EUR' }}
    </div>
    }
  </mat-card-content>
</mat-card>
